@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

/*----Geral----*/
* {
	box-sizing: border-box;
}

html {
	height: 100%;
	margin: 0;
	width: 100%;
}
body {
	background-color: #5f3473;
	font-family: "Roboto";
	font-size: 18px;
	height: 100%;
	margin: 0;
}
h1 {
	margin: 0;
}

ul {
	list-style: none;
}

a {
	color: #5f3473;
	font-weight: 600;
	text-decoration: none;
}

/*------------Home-------------*/

header {
	align-items: center;
	background: linear-gradient(to right, #f1f1f1, #f0f0f0, #fff);
	box-shadow: 0px 1px 8px;
	display: flex;
	min-height: 60px;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 2;
}

.header-nav ul {
	display: flex;
}

.header-nav li a {
	height: 100%;
	padding-inline: 1rem;
	width: 100%;
}

.header-nav li a:hover {
	color: #a46ebd;
}
#header-container {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.container {
	margin: 0 auto;
	width: 85%;
}

.home {
	align-items: center;
	display: flex;
	height: 85vh;
	justify-content: center;
	width: 100%;
}

.home-menu {
	align-items: center;
	display: flex;
	height: 280px;
	width: 100%;
}
.home-menu-item {
	align-items: center;
	background-color: #ececec;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	height: 280px;
	justify-content: center;
	margin: 2%;
	transition: height 1s, box-shadow 2s, background 0.3s;
	width: 100%;
}

.home-menu-item:hover {
	background-color: #fff;
	box-shadow: 0 0 15px;
	height: calc(100% + 50px);
}

/*----------Tabelas------------*/

.data-table {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 1px #272727;
	margin-block: 2rem;
	padding: 0.5rem;
}

.data-table table {
	min-width: 100%;
}

.data-table h2 {
	text-align: center;
}

.data-table .search-box {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.data-table .search-box-item {
	margin-bottom: 0.5rem;
}

.data-table thead th {
	background: linear-gradient(#646f7f, #4a5564);
	border-color: #000;
	color: #fff;
}

.data-table td,
.data-table th {
	border: 1px solid #929497;
	border-radius: 4px;
	color: #5f6062;
	font-size: 0.9rem;
	min-width: 160px;
	padding: 1rem;
}

.data-table tbody tr:nth-child(odd) {
	background: #d8dcdf;
}

.data-table tbody tr:nth-child(even) {
	background: #fff;
}

.data-table tbody:hover > tr td {
	opacity: 0.5;
}

.data-table tbody:hover > tr:hover td {
	color: #2d2d2d;
	opacity: 1;
}

.table-search {
	width: 50%;
}

.itens-filter {
	text-align: right;
}

@media screen and (max-width: 600px) {
	header,
	#header-container {
		flex-direction: column;
	}

	.data-table {
		overflow: scroll;
	}
	.data-table .search-box {
		flex-direction: column;
	}
	.itens-filter {
		margin-block: 0.8rem;
		text-align: center;
	}
}

@media screen and (max-width: 490px) {
	.header-nav ul {
		padding: 0;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.header-nav ul li {
		padding: 0.3rem;
	}

	#logo {
		display: none;
	}
}

/*-------Botões--------*/
#reload button {
	background: #5f3473;
	border: 1px solid #5f3473de;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	display: flex;
	font-size: 0.9em;
	justify-content: center;
	margin: 20px auto;
	max-width: 250px;
	padding: 10px;
}

#reload button:hover {
	background-color: #5f347300;
	color: #5f3473;
}

/*-----Rodapé------*/

.hidden-footer {
	height: 2.7rem;
}

footer {
	align-items: center;
	background: linear-gradient(to right, #f1f1f1, #f0f0f0, #fff);
	box-shadow: 0px -1px 8px;
	bottom: 0;
	color: #000;
	display: flex;
	justify-content: center;
	min-height: 60px;
	position: fixed;
	width: 100%;
}
